## Задание
`Вам необходимо написать SQL-запросы для выполнения загрузите датасет для решения следующих задач:`\
[датасет](https://disk.yandex.ru/d/oisXz4r_6oGfqw)
1. Запрос, который вернет характеристики размера вооружённых сил Катара. 

2. Запрос, который вернет все страны с Fertility Rate менее 2.

3. Запрос, который вернет все страны с аббревиатурой  abbreviation, начинающейся на S, или продолжительностью жизни «Life expectancy» менее 60 лет.

4. Запрос который вернёт все страны, где официальный язык английский.

5. Запрос который вернёт все страны, где официальный язык английский с «Maternal mortality ratio»  менее 20  или  Life expectancy < 60. 

`Задание выполняется в DBeaver.`

Сохраните ваши написанные SQL-запросы в текстовом формате (блокнот) и направьте ответ в виде  вложенного файла.

In [11]:
SELECT * FROM test.world_data
-- WHERE country =  ''

SyntaxError: invalid syntax. Perhaps you forgot a comma? (836733326.py, line 1)

In [12]:

SELECT country, abbreviation
FROM test.world_data
WHERE abbreviation LIKE 'S%' OR `Life expectancy` < 60;

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2713499566.py, line 1)